extends layout

block content
  h1= title
  p Welcome to #{title} app
  p You can send any query params: name and age location etc. to the collect api e.g:
  <a href="http://localhost:3000/collect?name=adam&age=31&location=mars">/collect?name=adam&age=31&location=mars</a>
  p This will store the query params as the session data and create a session ID in mongodb for 5 minutes, after 5 minutes you will get a new session ID.